<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects Manager</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <div class="right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </div>
        </ul>
    </header>
    <main>
 <h1>Register</h1>
<div class="form">
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username"><br>

        <label for="password">Password:</label>
        <input type="password" name="password"><br>

        <label for="firstName">First name:</label>
        <input type="text" name="firstName"><br>

        <label for="lastName">Last name:</label>
        <input type="text" name="lastName"><br>

        <label for="profilePicture">Profile Picture:</label>
        <input type="text" name="profilePicture"><br>

        <input type="submit" value="Register">
    </form>
</div>
    </main>
    <footer>
        Express Exam @SoftUni
    </footer>
</body>

</html>